In [ ]:
import pandas as pd

In [ ]:
data =pd.read_csv('CarSalesPreprocessingDataset.csv', encoding='latin1')
print(data)

In [ ]:
data = {
    "Name" : ['Ram', 'Sham', 'Mohan'],
    "Age" : [23, 24, 25],
    "City" : ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

df.to_csv('MyDataFrame.csv', index=False)
df.to_excel('MyDataFrame.xlsx', index=False)
df.to_json('MyDataFrame.json', orient='records')

In [ ]:
print("Head data:")
print(df.head())
print("Tail data:")
print(df.tail())
print(df.info())

In [52]:
data2 = {
    "Name" : ['Rama', 'Shama', 'Mohana', 'Gopal', 'Sita', 'Gita', 'Radha', 'Krishna'],
    "Age" : [28, 34, 22, 30, 29, 40, 25, 32],
    "Salary" : [50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score" : [85, 90, 78, 92, 88, 95, 80, 89]
}

df = pd.DataFrame(data2)
# print(df)
# print(f'Shape: {df.shape}')
# print(f'Columns: {df.columns}')

high_salary = df[df['Salary'] > 50000]
print('Employees with Salary > 50000')
print(high_salary) 

filtered = df[(df['Age'] > 30) & (df['Salary'] > 50000)]
print(f'Employees list Age > 30 + Salary > 50000')
print(filtered)

filtered_or = df[(df['Age'] > 35) | (df['Performance Score'] > 90)]
print(f'Employees list Age > 35 or Performance Score > 90')
print(filtered_or)

Employees with Salary > 50000
      Name  Age  Salary  Performance Score
1    Shama   34   60000                 90
3    Gopal   30   52000                 92
5     Gita   40   70000                 95
7  Krishna   32   58000                 89
Employees list Age > 30 + Salary > 50000
      Name  Age  Salary  Performance Score
1    Shama   34   60000                 90
5     Gita   40   70000                 95
7  Krishna   32   58000                 89
Employees list Age > 35 or Performance Score > 90
    Name  Age  Salary  Performance Score
3  Gopal   30   52000                 92
5   Gita   40   70000                 95