In [ ]:
import pandas as pd

In [ ]:
data =pd.read_csv('CarSalesPreprocessingDataset.csv', encoding='latin1')
print(data)

In [ ]:
data = {
    "Name" : ['Ram', 'Sham', 'Mohan'],
    "Age" : [23, 24, 25],
    "City" : ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

df.to_csv('MyDataFrame.csv', index=False)
df.to_excel('MyDataFrame.xlsx', index=False)
df.to_json('MyDataFrame.json', orient='records')

In [ ]:
print("Head data:")
print(df.head())
print("Tail data:")
print(df.tail())
print(df.info())

In [ ]:
data2 = {
    "Name" : ['Rama', 'Shama', 'Mohana', 'Gopal', 'Sita', 'Gita', 'Radha', 'Krishna'],
    "Age" : [28, 34, 22, 30, 29, 40, 25, 32],
    "Salary" : [50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score" : [85, 90, 78, 92, 88, 95, 80, 89]
}

df = pd.DataFrame(data2)
# print(df)
# print(f'Shape: {df.shape}')
# print(f'Columns: {df.columns}')

high_salary = df[df['Salary'] > 50000]
print('Employees with Salary > 50000')
print(high_salary) 

filtered = df[(df['Age'] > 30) & (df['Salary'] > 50000)]
print(f'Employees list Age > 30 + Salary > 50000')
print(filtered)

filtered_or = df[(df['Age'] > 35) | (df['Performance Score'] > 90)]
print(f'Employees list Age > 35 or Performance Score > 90')
print(filtered_or)

In [ ]:
data2 = {
    "Name" : ['Rama', 'Shama', 'Mohana', 'Gopal', 'Sita', 'Gita', 'Radha', 'Krishna'],
    "Age" : [28, 34, 22, 30, 29, 40, 25, 32],
    "Salary" : [50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score" : [85, 90, 78, 92, 88, 95, 80, 89]
}

df = pd.DataFrame(data2)
# print(df)
df["Bonus"] = df["Salary"] * 0.10
# print("After adding Bonus column:")
# print(df)

df.insert(0, "Employee ID", range(1, len(df) + 1))
# print("After inserting Employee ID column:")
# print(df)

df.loc[0, "Salary"] = 55000
# print("After updating Salary for index 1:")
# print(df)

df['Salary'] = df['Salary'] * 1.05
print("After increasing Salary by 5%:")
print(df)

df.drop(columns=['Performance Score','Age'], inplace=True)
print("After dropping Performance Score column:")
print(df)

In [ ]:
data2 = {
    "Name" : ['Rama', None, 'Mohana', 'Gopal', 'Sita', 'Gita', 'Radha', 'Krishna'],
    "Age" : [28, None, 22, 30, 29, 40, 25, 32],
    "Salary" : [50000, None, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score" : [85, None, 78, 92, 88, 95, 80, 89]
}
df = pd.DataFrame(data2)
print(df)
# print("Checking for null values:")
# print(df.isnull().sum())

# print("After dropping rows with any null values:")
# df.dropna(inplace=True)
# print(df)

# df.fillna(0, inplace=True)
# print("After filling null values with 0:")
# print(df)

df['Age'].fillna(df['Age'].mean(), inplace=True)
print("After filling null Age with mean:")
print(df)

In [ ]:
data = {
    "Time" : [1, 2, 3, 4, 5],
    "Value" : [10, None, 30, 40, 50]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df['Value'] = df['Value'].interpolate() 
print("After interpolating missing values:")
print(df)

In [ ]:
data = {
    "Name" : ['Rama', 'Shama', 'Mohana'],
    "Age" : [28, 34, 22],
    "Salary" : [50000, 60000, 45000]
}

df = pd.DataFrame(data)
df.sort_values(by='Age', ascending=True, inplace=True)
print('sorted DataFrame by Age ascending:')
print(df)

In [ ]:
data = {
    "Name" : ['Rama', 'Shama', 'Mohana'],
    "Age" : [28, 34, 22],
    "Salary" : [10000, 20000, 30000]
}

df = pd.DataFrame(data)
df.sort_values(by=['Age', 'Salary'], ascending=[True, False], inplace=True)
print(df)

In [ ]:
data = {
    "Name" : ['Ram', 'Sham', 'Mohan', 'vishal', 'Anil'],
    "Age" : [28, 34, 22, 30, 25],
    "Salary" : [50000, 60000, 45000,52000, 48000]
}

df = pd.DataFrame(data)
grouped = df.groupby(["Age", "Name"])["Salary"].sum()
print(grouped)

In [ ]:
df_customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
})

df_orders = pd.DataFrame({
    'CustomerID': [1, 2, 8, 3],
    'Amount': [250, 150, 300, 400],
})

df_merged = pd.merge(df_customers, df_orders, on='CustomerID', how='right')
print("Merged DataFrame (right join):")
print(df_merged)

In [87]:
df_Regions1 = pd.DataFrame({
    'CustomerID': [1, 2,],
    'Name': ['Rama', 'Shama']
})

df_Regions2 = pd.DataFrame({
    'CustomerID': [3, 4],
    'Name': ['Yogi', 'Vishal']
})

df_concatenated = pd.concat([df_Regions1, df_Regions2], axis=1, ignore_index=True)
print("Concatenated DataFrame:")
print(df_concatenated)

Concatenated DataFrame:
   0      1  2       3
0  1   Rama  3    Yogi
1  2  Shama  4  Vishal